.btn {
  &.floating {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }

  span {
    margin-right: 10px;
  }

  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 110px;
  height: 45px;
  outline: none;
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.07);
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 500;

  &:hover {
    box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.15);
    font-weight: 600;
  }
}

.meta-info {
  position: fixed;
  bottom: 25px;
  right: 50px;
  color: #45465a;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);

  .content {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-dual-ring,
    .lds-dual-ring:after {
      box-sizing: border-box;
    }
    .lds-dual-ring {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-right: 12px;
    }
    .lds-dual-ring:after {
      content: ' ';
      display: block;
      width: 50px;
      height: 50px;
      margin: 8px;
      border-radius: 50%;
      border: 6.4px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
