/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";
body {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #050505;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  --side-bar-width: 90px;
  --background-secondary: #ffffff;
  --background-primary: #f8f7fc; // #f1f6fb
}

h1 {
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}

table {
  background-color: white;
  border-radius: 30px;
  padding: 35px;
}

.breadcrumb {
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 14px;

  &:first-child {
    margin-left: 0;
  }

  a {


    &.link-icon{
      text-decoration: none;
      margin: auto 0;
      .icon{
        margin: 0;
      }
    }

    span {
      font-weight: 300;
      margin-right: 10px;
    }

    margin: auto 5px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tabs {
  display: flex;

  div {

    &:first-child{
      margin-left: 0;
      .icon{
        margin-left: 0;
      }
    }
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 10px 10px;
    font-size: 15px;
    margin: 0px 5px;
    display: flex;
    margin-bottom: 25px;

    &.active {
      font-weight: 600;
      border-bottom: solid 2px black;
    }
  }

  .icon{
    font-size: 20px;
    margin: 0 5px;
  }
}


a {
  color: #326ce5;
}


.btn {
  cursor: pointer;
  .icon{
    font-weight: 200;
  }

  border: solid 1px #326ce5;
  display: inline-flex;
  border-radius: 7px;
  align-items: center;
  padding: 4px 7px;
  font-weight: 600;

  &.btn-primary {
    &.error {
      background-color: #D92D20;
      border-color: #D92D20;
      color: #ffffff;
    }
  }
  &.btn-secondary {
    background-color: #ffffff;
    &.error {
      border-color: #D92D20;
      color: #D92D20;
    }
  }
}


/*** **/

.panel-action-header {
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 10px;

  .panel-title{
      font-size: 1.25rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      .icon{
          font-size: 30px;
      }
  }

  .icon {
      font-size: 30px;
      font-weight: 200;
      margin-right: 5px;
  }

  .btn{
      .icon{
          font-size: 20px;
      }
  }
}

.tabs-component-wrapper{
  height: calc(100vh - 150px);
  background-color: white;
  padding-top: 20px;
}

