<div class="list-page">

    <h1>
        <span class="material-symbols-outlined">  linked_services  </span> Compositions
    </h1>

    <div class="desc">
        List of compositions installed on the cluster. You can find more information about compositions
        on the official <a href="https://docs.crossplane.io/latest/concepts/compositions/" target="_blank">documentation</a>.
    </div>


    <div class="icons-bar" title="create a new Composition  ">
      <a (click)="isNewVisible = !isNewVisible" class="btn btn-secondary">
        <span class="icon material-symbols-outlined">add</span> Create Composite
      </a>
    </div>



  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Kind</td>
        <td>Age</td>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let composition of compositions"
        (click)="showSidePanel(composition.manifest)"
      >
        <td>{{ composition.manifest.metadata.name }}</td>
        <td>{{ composition.manifest.spec.compositeTypeRef.kind }}</td>
        <td>
          {{ composition.manifest.metadata.creationTimestamp | duration }}
        </td>
      </tr>
    </tbody>
  </table>



  <!-- Create a new composition -->
  <app-create-composition [visible]="isNewVisible" (closePanel)="onCreateChange($event)"></app-create-composition>


  <app-sliding-panel [(visible)]="isDetailVisible">

    <div ngProjectAs="panel-title" class="panel-action-header">
      <span class="panel-title">
        <span class="material-symbols-outlined icon">  linked_services </span>
        {{title}}
      </span>
      <a (click)="delete(manifest.metadata?.name)" class="btn btn-secondary error">
        <span class="icon material-symbols-outlined">delete</span> Delete
      </a>
    </div>

    <div class="tabs-component-wrapper">
      <div class="tabs">
        <div [class.active]="activeTab == 'view'" (click)="setTab('view')">
          <span class="material-symbols-outlined icon">menu_book</span>
          View
        </div>
        <div [class.active]="activeTab == 'manifest'" (click)="setTab('manifest')">
          <span class="material-symbols-outlined icon">view_agenda</span>
          Manifest
        </div>
        <div [class.active]="activeTab == 'event'" (click)="setTab('event')">
          <span class="material-symbols-outlined icon">event</span>
          Event
        </div>
      </div>


      @if (activeTab == 'manifest') {
        <ngx-monaco-editor
          [options]="editorOptions"
          [(ngModel)]="yamlManifest"
        ></ngx-monaco-editor>
      }
      @if (activeTab == 'event') {
        <app-events-list [events]="events"></app-events-list>
      }
      @if (activeTab == 'view') {
        <app-composition-viewer [manifest]="manifest"></app-composition-viewer>
      }
    </div>
  </app-sliding-panel>
</div>
