@if (resourceContext && resourceContext.resource) {
  <app-resource-panel
    [resouceType]="'terraform'"
    [resource]="resourceContext.resource"
  >
    <div class="tabs">
      <div [class.active]="activeTab == 'detail'" (click)="setTab('detail')">
        Detail
      </div>
      <div
        [class.active]="activeTab == 'manifest'"
        (click)="setTab('manifest')"
      >
        YAML
      </div>
      <div
        [class.active]="activeTab == 'dependencies'"
        (click)="setTab('dependencies')"
      >
        Dependencies
      </div>
    </div>

    @if (activeTab == 'detail') {
      <div class="detail">
        <div class="label">Module</div>
        <div>{{ resourceContext.resource.base.spec.forProvider.module }}</div>
        <div class="label">Source</div>
        <div>{{ resourceContext.resource.base.spec.forProvider.source }}</div>
        <div class="label">Vars</div>
        <div class="vars">
          @for (
            v of resourceContext.resource.base.spec.forProvider.vars;
            track v
          ) {
            <div>{{ v.key }}</div>
            <div>{{ v.value }}</div>
          }
        </div>
      </div>
    }
    @if (activeTab == 'manifest') {
      <div [style]="editorHandler.style">
        <ngx-monaco-editor
          style="height: 100%"
          [options]="editorHandler.options"
          [(ngModel)]="editorHandler.content"
        ></ngx-monaco-editor>
      </div>
    }
    @if (activeTab == 'dependencies') {
      <app-resource-dependency-viewer
        [resourceContext]="resourceContext"
      ></app-resource-dependency-viewer>
    }
  </app-resource-panel>
}
