<div class="universe crossplane">
  <div class="sidebar">
    <div class="logo" routerLink="">
      <img src="assets/crossplane-assistant.svg" alt="logo" />
      Crossplane Assistant
    </div>
    <div class="header">Explorer</div>
    <div class="menu">
      <div routerLink="claims" routerLinkActive="active-link" title="Claim">
        <span class="material-symbols-outlined"> deployed_code_account </span>
        Claim
      </div>
      <div
        routerLink="compositions"
        routerLinkActive="active-link"
        title="Composition"
      >
        <span class="material-symbols-outlined"> linked_services </span>
        Composition
      </div>
        <div
                routerLink="managed-resources"
                routerLinkActive="active-link"
                title="Managed resource">
            <span class="material-symbols-outlined"> view_in_ar </span>
            Managed Resource
        </div>
      <div
        routerLink="xrds"
        routerLinkActive="active-link"
        title="XRD (Composite Resources Definitions)"
      >
        <span class="material-symbols-outlined"> description </span>
        XRD
      </div>

        <div
        routerLink="providers"
        routerLinkActive="active-link"
        title="Provider"
        >
            <span class="material-symbols-outlined"> extension </span>
            Provider
        </div>

        <div
                routerLink="functions"
                routerLinkActive="active-link"
                title="Function"
        >
            <span class="material-symbols-outlined"> function </span>
            Function
        </div>

    </div>
  </div>
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>


<app-toaster></app-toaster>
