<div class="list-page">
    <h1>
        <span class="material-symbols-outlined">view_in_ar</span> Managed Resources
    </h1>

    <div class="desc">
        List of Managed Resource installed on the cluster. You can find more information about managed resources
        on the official <a href="https://docs.crossplane.io/latest/concepts/managed-resources/" target="_blank">documentation</a>.
    </div>


    <div class="icons-bar" title="create a new managed resource">
        <a (click)="isNewVisible = !isNewVisible" class="btn btn-secondary">
            <span class="icon material-symbols-outlined">add</span> Create Managed Resource
        </a>
    </div>

    <div style="margin:15px 0">
        <div style="padding: 5px 0">Managed resource Kind</div>
        <ng-select [(ngModel)]="managedResourceKind" (change)="onMrKindChange($event)">
            @for ( mrKind of mrKinds; track mrKind){
                <ng-option [value]="mrKind">{{mrKind.group}}/{{mrKind.kind}}</ng-option>
            }
        </ng-select>
    </div>

    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Synced</td>
            <td>Ready</td>
            <td>Age</td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let mr of managedResources" (click)="showSidePanel(mr.manifest)">
            <td>{{ mr.manifest.metadata.name }}</td>
            <td>
                    <span class="status" [class.success]="mr.synced == 'True'"
                          [class.error]="mr.synced == 'False'">{{ mr.synced }}
                    </span>
            </td>

            <td>
                    <span class="status" [class.success]="mr.ready == 'True'"
                          [class.error]="mr.ready == 'False'">{{ mr.ready }}
                    </span>
            </td>
            <td>{{ mr.manifest?.metadata?.creationTimestamp | duration }}</td>
            <td>{{ mr.manifest?.metadata?.deletionTimestamp | duration }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Create a new managed resource -->
    <app-create-manage-resource [visible]="isNewVisible" (closePanel)="onCreateChange($event)"></app-create-manage-resource>


    <!-- View selected managed resource-->
    <app-sliding-panel [(visible)]="isDetailVisible">

        <div ngProjectAs="panel-title" class="panel-action-header">
            <span class="panel-title">
                <span class="material-symbols-outlined icon"> view_in_ar </span>
                {{title}}
            </span>
            <a (click)="delete(manifest.metadata?.name)" class="btn btn-secondary error">
                <span class="icon material-symbols-outlined">delete</span> Delete
            </a>
        </div>


        <div class="tabs-component-wrapper">
            <div class="tabs">
                <div [class.active]="activeTab == 'manifest'" (click)="setTab('manifest')">
                    <span class="material-symbols-outlined icon">view_agenda</span>
                    Manifest
                </div>
                <div [class.active]="activeTab == 'event'" (click)="setTab('event')">
                    <span class="material-symbols-outlined icon">event</span>
                    Event
                </div>
            </div>

            @if (activeTab == 'manifest') {
                <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="yamlManifest"></ngx-monaco-editor>
            }
            @if (activeTab == 'event') {
                <app-events-list [events]="events"></app-events-list>
            }
        </div>
    </app-sliding-panel>
</div>
