@if (resourceDeps) {
  <div class="wrapper">
    <div class="resource-dep">
      <div class="in io">
        <div class="entities-container">
          @for (
            inResource of resourceDeps.in;
            track inResource;
            let first = $first, last = $last
          ) {
            <div
              class="entity-container"
              [class.first]="first"
              [class.last]="last"
              [class.uniq]="resourceDeps.in.length === 1"
            >
              <div class="entity" (click)="selectResource(inResource)">
                <div class="logo-wrapper">
                  <app-logo-viewer
                    [apiVersion]="inResource.apiVersion"
                    [kind]="inResource.kind"
                  >
                  </app-logo-viewer>
                </div>
                {{ inResource.name }}
              </div>
              <div class="join"></div>
            </div>
          }
        </div>
      </div>

      <div class="resource">
        <div class="entities-container">
          <div class="entity-container">
            @if (resourceDeps.in.length > 0) {
              <div class="join"></div>
            }
            <div
              class="entity active"
              [class.with-incoming]="resourceDeps.in.length > 0"
            >
              <div class="logo-wrapper">
                <app-logo-viewer
                  [apiVersion]="resourceDeps.resource?.base?.apiVersion"
                  [kind]="resourceDeps.resource?.base?.kind"
                >
                </app-logo-viewer>
              </div>
              {{ resourceDeps.resource?.name }}
            </div>
            @if (resourceDeps.out.length > 0) {
              <div class="join"></div>
            }
          </div>
        </div>
      </div>

      <div class="out io">
        <div class="entities-container">
          @for (
            outResource of resourceDeps.out;
            track outResource;
            let first = $first, last = $last
          ) {
            <div
              class="entity-container"
              [class.first]="first"
              [class.last]="last"
              [class.uniq]="resourceDeps.out.length === 1"
            >
              <div class="join"></div>
              <div class="entity" (click)="selectResource(outResource)">
                <div class="logo-wrapper">
                  <app-logo-viewer
                    [apiVersion]="outResource.apiVersion"
                    [kind]="outResource.kind"
                  >
                  </app-logo-viewer>
                </div>
                {{ outResource.name }}
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>

  @if (showDetails) {
    <app-resource-dependency-detail
      [composition]="resourceContext?.composition"
      [item]="selectedItem"
    ></app-resource-dependency-detail>
  }
} @else {
  <div class="empty">No dependencies</div>
}
