.resource-dep {
  --link-color: #b9b9b9;
}

.wrapper {
  position: relative;
  background-color: #f8f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-dep {
  display: flex;
  position: relative;

  & > div {
    align-items: center;
  }

  .logo-wrapper {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .entity {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    min-width: 250px;
    height: 50px;
    outline: none;
    box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.07);
    background-color: white;
    display: flex;
    align-items: center;

    &.active {
      box-shadow: 2px 3px 7px 2px rgb(188 200 255 / 62%);
      border: solid #5284ff66 2px;
      background-color: #f8fcff;
    }

    &.selected {
      border: dashed 1px #c1c1c1;
    }
  }

  .entities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20%;
    padding: 10px 0;
    height: 100%;
  }

  .io {
    min-width: 20%;
    padding: 10px 0;
    justify-content: center;
    align-items: center;

    .entity {
      cursor: pointer;
    }

    &.in {
      .entities-container {
        align-items: flex-end;

        .entity-container {
          border-right: solid var(--link-color) 1px;

          &.uniq,
          &.first,
          &.last {
            border-right: none;
          }

          &.first {
            align-items: flex-end;
            .join {
              border-top: solid var(--link-color) 1px;
              border-bottom: none;
            }
          }

          &.last,
          &.first {
            .join {
              margin: 1px 0; // compenser epaiseur trait
              border-right: solid var(--link-color) 1px;
            }
          }

          &.uniq {
            .join {
              border-right: none !important;
            }
          }
        }
      }
    }

    &.out {
      .entities-container {
        align-items: flex-start;

        .entity-container {
          border-left: solid var(--link-color) 1px;

          .entity {
            &::before {
              content: '►';
              color: var(--link-color);
              left: -22px;
              position: relative;
              top: -2px;
              font-size: 15px;
            }
          }

          &.uniq,
          &.first,
          &.last {
            border-left: none;
          }

          &.last {
            top: 45px;
            right: 140px;
          }

          &.first {
            align-items: flex-end;
            .join {
              border-top: solid var(--link-color) 1px;
              border-bottom: none;
            }
          }

          &.last,
          &.first {
            .join {
              margin: 1px 0; // compenser epaiseur trait
              border-left: solid var(--link-color) 1px;
            }
          }

          &.uniq {
            .join {
              border-left: none !important;
            }
          }
        }
      }
    }
  }

  .resource {
    .entity.with-incoming {
      &::before {
        content: '►';
        color: var(--link-color);
        left: -20px;
        position: relative;
        top: -2px;
        font-size: 14px;
      }
    }
  }
}

.join {
  border-bottom: solid var(--link-color) 1px;
  width: 20px;
  height: 50%;
}

.entity-container {
  display: flex;
  flex-direction: row;
}
