.logo {
  img {
    height: 55px;
  }
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto 20px auto;
  cursor: pointer;
}

.sidebar {
  min-width: var(--side-bar-width);
  width: var(--side-bar-width);
  padding: 0 10px;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  color: #fff;
  //background-color: #0f2733;
  overflow: auto;
  z-index: 0;

  align-content: center;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  margin-left: var(--side-bar-width);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  //border: solid #374048 1px;
  color: #858b90;
  width: 50px;
  height: 50px;
  border-radius: 17px;
  margin: 10px;
  align-self: center;
  cursor: pointer;

  .img {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.active {
    background-color: #f3f3fb;
    color: #000;
  }
}
