.resource {
  border: solid #e5e4e4 1px;
  padding: 10px;
  margin: 10px;

  .resource-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .provider-icon {
      height: 40px;
      width: 40px;
      margin: auto 10px;
    }
  }
}
