<div class="list-page">
    <h1>
        <span class="material-symbols-outlined">function</span> Functions
    </h1>

    <div class="desc">
        List of functions installed on the cluster.
        For more functions, you can visit the <a href="https://marketplace.upbound.io/functions"
            target="_blank">Crossplane Marketplace</a>.
    </div>

    <div class="icons-bar" title="create a new function">
        <a (click)="isNewVisible = !isNewVisible" class="btn btn-secondary">
            <span class="icon material-symbols-outlined">add</span> Create Function
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Installed</td>
                <td>Healthy</td>
                <td>Package</td>
                <td>Age</td>
                <td></td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let func of functions" (click)="showSidePanel(func.manifest)">
                <td>{{ func.manifest.metadata.name }}</td>
                <td>
                    <span class="status" [class.success]="func.installed == 'True'"
                        [class.error]="func.installed == 'False'">{{ func.installed }}
                    </span>
                </td>

                <td>
                    <span class="status" [class.success]="func.healthy == 'True'"
                        [class.error]="func.healthy == 'False'">{{ func.healthy }}
                    </span>
                </td>

                <td>{{ func.manifest?.spec?.package }}</td>
                <td>{{ func.manifest?.metadata?.creationTimestamp | duration }}</td>
                <td>{{ func.manifest?.metadata?.deletionTimestamp | duration }}</td>
                <td><app-market-link type="functions" [image]="func.manifest?.spec?.package"></app-market-link></td>
            </tr>
        </tbody>
    </table>

    <!-- Create a new function -->
    <app-create-function [visible]="isNewVisible" (closePanel)="onCreateChange($event)"></app-create-function>


    <!-- View selected function-->
    <app-sliding-panel [(visible)]="isDetailVisible">

        <div ngProjectAs="panel-title" class="panel-action-header">
            <span class="panel-title">
                <span class="material-symbols-outlined icon"> function</span>
                {{title}}
            </span>
            <a (click)="delete(manifest.metadata?.name)" class="btn btn-secondary error">
                <span class="icon material-symbols-outlined">delete</span> Delete
            </a>
        </div>


        <div class="tabs-component-wrapper">
            <div class="tabs">
                <div [class.active]="activeTab == 'manifest'" (click)="setTab('manifest')">
                    <span class="material-symbols-outlined icon">view_agenda</span>
                    Manifest
                </div>
                <div [class.active]="activeTab == 'event'" (click)="setTab('event')">
                    <span class="material-symbols-outlined icon">event</span>
                    Event
                </div>
            </div>

            @if (activeTab == 'manifest') {
            <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="yamlManifest"></ngx-monaco-editor>
            }
            @if (activeTab == 'event') {
            <app-events-list [events]="events"></app-events-list>
            }
        </div>
    </app-sliding-panel>
</div>
