.msg-err {

    .title {
        font-weight: bold;
        font-size: 14px;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 400;
        justify-items: start;

        .material-symbols-outlined {
            color: red;
            font-size: 15px;
        }
    }

    white-space: pre-wrap;
    padding: 5px 10px;
    border-left: solid red 3px;
    margin: 10px 0;


    .detail {
        background-color: #F8F9FB;
        color: #434343;
        font-family: monospace;
        font-size: 12px;
        padding: 10px;
        white-space: pre-wrap;
    }
}
