<app-resource-panel
  [resouceType]="'generic'"
  [resource]="resourceContext?.resource"
>
  <div class="tabs">
    <div [class.active]="activeTab == 'yaml'" (click)="setTab('yaml')">
      YAML
    </div>
    <div
      [class.active]="activeTab == 'dependencies'"
      (click)="setTab('dependencies')"
    >
      Dependencies
    </div>
  </div>

  @if (activeTab == 'yaml') {
    <div class="detail" [style]="editorHandler.style">
      <ngx-monaco-editor
        style="height: 100%"
        [options]="editorHandler.options"
        [(ngModel)]="editorHandler.content"
      ></ngx-monaco-editor>
    </div>
  }
  @if (activeTab == 'dependencies') {
    <app-resource-dependency-viewer
      [resourceContext]="resourceContext"
    ></app-resource-dependency-viewer>
  }
</app-resource-panel>
